{% extends "base.html" %}
{% block title %}Edit project{% endblock %}

{% block content %}
<h1>Edit Project.</h1>

<form action="{{ url_for('edit_project', id=project.id) }}" method="POST">
    <label for="title">Project title:</label><br>
    <input type="text" id="title" name="title" value="{{ project.title }}" required><br><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" required>{{ project.description }}</textarea><br><br>

    <label for="technologies">Technologies:</label><br>
    <input type="text" id="technologies" name="technologies" value="{{ project.technologies }}"><br><br>

    <button type="submit">Save Changes</button>
</form>

<br>
<a href="{{ url_for('projects') }}">Back to list</a>
{% endblock %}
