{% extends "base.html" %}
{% block title %}New Project.{% endblock %}

{% block content %}
<h1>Add new project.</h1>

<form action="{{ url_for('new_project') }}" method="POST">
    <label for="title">Project title:</label><br>
    <input type="text" id="title" name="title" required><br><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" required></textarea><br><br>

    <label for="technologies">Technologies (separated by commas):</label><br>
    <input type="text" id="technologies" name="technologies"><br><br>

    <button type="submit">Add project.</button>
</form>

<br>
<a href="{{ url_for('projects') }}">Back to projects.</a>
{% endblock %}
