{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<h1>Welcome to my portfolio!</h1>
<h1>My Projects.</h1>

{% if projects %}
    <ul>
        {% for project in projects %}
        <li>
            <strong>{{ project.title }}</strong> – {{ project.description }}
            {% if project.technologies %}
                <br><em>Technologies: {{ project.technologies }}</em>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No projects found. Please check database connection.</p>
{% endif %}

{% endblock %}