{% extends "base.html" %}
{% block title %}Projects{% endblock %}

{% block content %}
<h1>Welcome to my portfolio!</h1>
<h1>My Projects.</h1>


<p><a href="{{ url_for('new_project') }}"><span class="hand" style='font-size:24px;'>&#8594; </span>Click here to add new project.</a></p>

{% if projects %}
    <ul>
        {% for project in projects %}
        <li>
            <strong>{{ project.title }}</strong> – {{ project.description }}
            {% if project.technologies %}
                <br><em>Technologies: {{ project.technologies }}</em>
            {% endif %}

           
            <br><a href="{{ url_for('edit_project', id=project.id) }}">Edit</a>

           
            <form action="{{ url_for('delete_project', id=project.id) }}" method="POST" style="display:inline;">
                <button class="remove" type="submit" onclick="return confirm('Are You sure ? {{ project.title }}?');">Remove</button>
            </form>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No projects found. Please check database connection.</p>
{% endif %}

{% endblock %}
